<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'#bodytext'});</script>

</head>
<body>
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-nav">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-item nav-link" })
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Add Blog", "AddBlog", "Account", null, new { @class = "nav-item nav-link" })

                    }
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
